.intro {
    position: relative;
    padding: 120px 0;
    @include media(md) {
        padding: 50px 0;
    }

    &__text {
        max-width: 580px;
        @include media(md) {
            max-width: none;
            text-align: center;
            margin: 0 0 35px 0;
        }

        p {
            @include media(md) {
                text-align: left;
            }
        }

        &-link {
            margin: 15px 0 0 0;
            padding: 0;
            width: 218px;
            height: 60px;
            @include media(md) {

            }
        }

    }

    &__image {
        margin: 0 auto;
    }

}
