.news {
    margin: 0 0 120px 0;
    @include media(md) {
        margin: 0 0 65px 0;
    }

    &__headpanel {
        text-align: center;
        margin: 0 0 50px 0;
        @include media(md) {
            margin: 0 0 35px 0;
        }

        &-title {
            margin: 0 0 36px 0;
        }

        &-text {

        }

    }

    &__slider {
        position: relative;
        @include media(md) {
            $padd: 25px;
            padding-left: $padd;
            padding-right: $padd;
        }

        .swiper {

            &-controls {
                @include media(md) {
                    padding: 0;
                }
            }

            &-button {

                &-prev, &-next{
                    margin-top: -70px;
                    @include media(md) {
                        margin-top: -60px;
                    }
                }

            }

        }

    }

}
