@import "../layout/sections/build/global";
@import "../layout/sections/build/image";
@import "../layout/sections/build/timeline";
@import "../layout/sections/build/text";
@import "../layout/sections/build/video";
@import "../layout/sections/build/number_list";
@import "../layout/sections/build/column";
@import "../layout/sections/build/list";
@import "../layout/sections/build/team";
@import "../layout/sections/build/icons_vertical";
@import "../layout/sections/build/icons_horizontal";
@import "../layout/sections/build/platform";
@import "../layout/sections/build/sheme";
@import "../layout/sections/build/market";
@import "../layout/sections/build/sizes";