.production {

    &__page {
        padding-top: 85px;
        @include media(md) {
            padding-top: 50px;
        }

        &-footer {
            text-align: center;
            padding: 38px 0 49px 0;
            @include media(xs) {
                padding: 0px 0 64px 0;
            }

            .btn {
                min-width: 218px;
            }

        }

    }

}
