.header {

    &__btnmobile {
        width: 92px;
        height: 32px;
        border: 1px solid $background-blue;
        border-radius: 99px;
        padding: 0 35px 0 16px;
        font-size: 14px;
        color: $color-blue;
        cursor: pointer;
        background: none;
        position: relative;
        display: none;

        @include media(md) {
            display: block;
        }

        &:hover {
            //background-color: $background-blue;
            //color: #fff;

            i {
                //background-color: #fff;
            }
        }

        > div {
            $size: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            width: $size;
            height: $size;

            i {
                display: block;
                height: 1px;
                background-color: $background-blue;
                width: 100%;
                left: 0;
                position: absolute;
                transition: all .18s linear;

                &:nth-child(1) {
                    top: 1px;

                    .menu__active & {
                        transform: rotate(-45deg);
                        top: 50%;
                    }
                }
                &:nth-child(2) {
                    top: 50%;

                    .menu__active & {
                        width: 0;
                    }

                }
                &:nth-child(3) {
                    bottom: 0;

                    .menu__active & {
                        transform: rotate(45deg);
                        top: 50%;
                    }
                }

            }
        }

        span {

            b {
                font-weight: normal;
            }

            .menu__active & {

                b {
                    display: none;
                }

                &::after {
                    content: attr(data-title);
                }
            }

        }


    }

}
